<h1>not found!</h1>
<img src="https://dl.dropbox.com/u/567408/%3Ab%3A/photo-2438.gif" />

<div class="alert alert-block alert-error" style="margin-top: 20px;">
  <h2>Error</h2>
  <%= @exception if Rails.env == "development" %>
</div>
