<h1>Unable to Authenticate You</h1>

<div class="alert alert-block alert-error">
  <h2>Error</h2>
  <p>You need to be <%= link_to 'authenticated', login_path %> in order to perform this action</p>
</div>