<div class="modal hide fade">
	<form id="add-to-map-form" class="form-horizontal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>About This Tool</h3>
		</div>
		<div class="modal-body">
			<p>Body copy goes here ( "/app/assets/javascript/backbone/templates/about.jst.ejs " )</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-warning">Close</button>
		</div>
	</form>
</div>
