<div class="modal hide fade">
  <form id="add-to-map-form" class="form-horizontal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>About This Tool</h3>
    </div>
    <div class="modal-body">
      <p>Welcome to the Young Agrarians Resource Map. We are excited to be in Beta: help us test the map and get more information up!</p>

      <p>We are focused on mapping resources relevant to agro-ecology, which we translate to mean: ecological agriculture, or certified or uncertified organic food production. Our sector is small, which is why we are focused on growing it, and supporting new entrants into agriculture to see what resources are out there.</p>

      <h4>U-MAP</h4>

      <p>Locate the U-Map button and fill out the form in order to upload your listing. We will approve it on the back end before it goes live.</p>

      <p>Please test your location address in google maps to make sure it is locatable. </p>

      <p>If your resource does not have an address, it will still appear in the Results Listings below the map.</p>

      <p>If you are an organization that is mapping Resources in your area, and you would like to share data with Young Agrarians, please contact: <a href="mailto:theyoungagrarians@gmail.com">theyoungagrarians@gmail.com</a>.</p>

      <p>If you would like to volunteer to help us grow the map, please email us. We would love your help.</p>

      <h4>SEARCH THE MAP</h4>

      <p>You can use the drop down menus beside the map to:</p>

      <ul>
        <li>Pick a province (default setting British Columbia)</li>
        <li>Pick a BioRegion (currently for British Columbia only)</li>
        <li>Pick a Category or Sub-Category</li>
      </ul>

      <p>The Legend allows you to pick Categories</p>

      <p>When you select a Category or Sub-Category it will show up as an icon on the map (if it has a GPS location) and a Listing below the map. When you select an icon on the map it will show you a pop-up window with more information. Click on the Listing’s name to be taken to that Listing’s website, where available.</p>

      <h4>NAVIGATE THE MAP</h4>

      <p>To move the map up or down, left or right, zoom in or out, use the navigation and zoom buttons screen left on the map.</p>

      <h4>SOCIAL MEDIA</h4>

      <p>We have listed the Twitter handles and Facebook pages for Listings where available.</p>

      <p>Please help us grow traffic to the map: use the Twitter and Facebook share options at the bottom of the pop-up windows when you find a Listing you want to let other people know about!</p>

      <h4>LOVE TO OUR COLLABORATORS</h4>

      <p>Thank you to everyone who has helped us research and grow this project. We look forward to pulling more and more information into the platform so that we are best able to see the young farmers, organizations, educational programs, seed resources and more in BC.</p>

      <p>Thank you Greenhorns for the inspiration to map!</p>

      <p>Thank you Vancity, the Organic Sector Development Program, the Real Estate Foundation of BC and Salt Spring Coffee for making this Map project possible.</p>

      <p>Questions, comments, feedback: <a href="mailto:theyoungagrarians@gmail.com">theyoungagrarians@gmail.com</a></p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning">Close</button>
    </div>
  </form>
</div>
