<div class="modal hide fade">
	<form id="add-to-map-form" class="form-horizontal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>About This Tool</h3>
		</div>
		<div class="modal-body">
			<p>Welcome to the Young Agrarians Interactive Resource Map. We’re so excited to be in Beta. Help us test the map and get more information up!</p>

			<p>We are mapping resources relevant to new/young farmers wanting to get into farming and food growing. Our focus is on the ecological/organic (certified or uncertified) sector.</p>

			<h3>U-Map</h3>
			<p>Upload your listing into the map using the U-Map button. Please search your address in google to make sure it shows up in google maps so we know it will show up on our map as well. Tell us in a few sentences about your listing. If you are not a physical location like an on-line publication or web resource, you can still enter your information. It will show up in the Listings view below the map. If you are an organization that is mapping your area, please contact us – we can upload spreadsheets into the back end and would love to share data. Someone on our back end will approve your listing before it goes live. </p>

			<h3>Search the Map</h3>
			<p>You can use the drop down menu’s screen right to:</p>
			<ul>
				<li>Pick a Province (default setting BC)</li>
				<li>Pick a BioRegion (BC only for now, until we map other provinces in Canada…)</li>
				<li>Pick a Category or Sub-Category</li>
				<li>The Legend allows you to pick a Category only, it does the same thing as the Category drop-down menu above, except it doesn’t include Sub-Categories.</li>
			</ul>

			<p>To move the map up or down, left or right, zoom in or zoom out, use the navigation button screen left.</p>

			<p>When you select a Category or Sub-Category it will show up as an icon pin on the map, as well as a Listing below the map.</p>

			<p>When you click on an icon pin on the map, a pop-up window will appear with more information. If the listing has a website, it’s name will be hyperlinked, so you can click to go to that website and learn more. If you want to check out their twitter or facebook pages, those are listed where available. If you want to share thislisting via your twitter account or facebook account, use the share buttons at the bottom of the pop-up window.</p>

			<p>To see Listings below the map, use the slide slider on your browser window.</p>

			<p>A huge thank-you to all of the farmers who provided listings for the map, to our researchers, participating organizations and developer geeks. Thank you to Vancity, The Real Estate Foundation of British Columbia and the Organic Sector Development Program /IAFBC for believing in us. Let’s grow this map so that it is Canada wide!</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-warning">Close</button>
		</div>
	</form>
</div>
