<div class="modal hide fade">
	<form id="add-to-map-form" class="form-horizontal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>U-Map Your Location</h3>
		</div>
		<div class="modal-body">

			<fieldset>
				<ul class="unstyled">

					<li class="control-group">
						<label for="name" class="control-label">Name of Listing</label>
						<div class="controls">
							<input type="text" id="name" required/>
						</div>
					</li>

					<li class="control-group">
						<label for="place" class="control-label">Address</label>
						<div class="controls">
							<input id="location" type="text" id="place" required
										 placeholder="example: 150 West Hastings, Vancouver, BC" />
							<br />
							<small>Street number, street name, town/city, and province.<br />
								Please make sure the address is searchable on Google Maps first!</small>

						</div>
					</li>

					<li class="control-group">
						<label for="zip" class="control-label">Postal/Zip</label>
						<div class="controls">
							<input id="postal" type="text" id="place" required />
						</div>
					</li>

					<li class="control-group">
						<label for="category" class="control-label">Listing Category</label>
						<div class="controls">
							<select id="category" requried></select>
						</div>
					</li>

					<li class="control-group">
						<label for="subcategory" class="control-label">Sub-Category</label>
						<div class="controls">
							<select id="subcategory" disabled="disabled" multiple></select>
						</div>
					</li>

					<li class="control-group">
						<label for="bioregion" class="control-label">Bioregion</label>
						<div class="controls">
							<select id="bioregion" required>
								<option value="-1">Select A Bioregion</option>
								<option value="Caribou – Prince George">Caribou – Prince George</option>
								<option value="Kootenays">Kootenays</option>
								<option value="Lower Mainland">Lower Mainland</option>
								<option value="North Coast – Skeena">North Coast – Skeena</option>
								<option value="Northeast – Fort St. John, Dawson Creek">Northeast – Fort St. John, Dawson Creek</option>
								<option value="Thompson – Okanagan">Thompson – Okanagan</option>
								<option value="Vancouver Island – South Coast">Vancouver Island – South Coast</option>
							</select>
						</div>
					</li>

					<li class="control-group">
						<label for="description" class="control-label">Description</label>
						<div class="controls">
							<textarea id="description" required placeholder="What you do and why a young agrarian would want to find you!"></textarea>
						</div>
					</li>

					<li class="control-group">
						<label for="url" class="control-label">Website URL</label>
						<div class="controls">
							<input type="url" id="url" placeholder="Enter the URL here" />
						</div>
					</li>

					<li class="control-group">
						<label for="facebook" class="control-label">Facebook Page URL</label>
						<div class="controls">
							<input type="url" id="facebook" placeholder="Enter the URL here"/>
						</div>
					</li>

					<li class="control-group">
						<label for="twitter" class="control-label">Twitter URL</label>
						<div class="controls">
							<input type="url" id="twitter" placeholder="Enter the URL here"/>
						</div>
					</li>

					<li class="control-group">
						<label for="phone" class="control-label">Phone Number</label>
						<div class="controls">
							<input type="text" id="phone" placeholder="Enter the phone number here" />
						</div>
					</li>

					<li class="control-group">
						<label for="email" class="control-label">Email Address</label>
						<div class="controls">
							<input type="email" id="email" placeholder="Enter the email address here" />
						</div>
					</li>

					<li class="control-group agree">
						<label for="agree">
							<input type="checkbox" id="agree" />
							I agree that the information I am providing is true and correct. I consent to have my information listed on the Young Agrarians map.
						</label>
					</li>

				</ul>
			</fieldset>

		</div>
		<div class="modal-footer">
			<button class="btn btn-warning">Cancel</button>
			<button class="btn btn-primary" type="submit">Save changes</button>
		</div>
	</form>
</div>
