<div class='map-marker'>
	<% if ( !_(url).isEmpty() ){ %>
	<h3><%= name %></h3>
	<% } else { %>
	<h3><a href="<%= url %>" target="_blank"><%= name %></a></h3>
	<% } %>
	<p><%= description %></p>
</div>
