<div class="container">
	<div class="row">
		<div class="span10 offset1">
			<div id="map-search">
				<form id="map-search-form" class="form-horizontal">
					<input type="text" id="map-search-terms" data-toggle="nil" placeholder="Search"/>
					<a id="map-search-clear"><i class="icon-remove"></i></a>
					<div class="btn-group">
						<button type="button" id="go-search" class="btn" data-province="British Columbia">British Columbia</button>
						<button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li class="province">British Columbia</li>
							<li class="province">Alberta</li>
							<li class="province">Saskatchewan</li>
							<li class="province">Manitoba</li>
							<li class="province">Ontario</li>
							<li class="province">Quebec</li>
							<li class="province">New Brunswick</li>
							<li class="province">Nova Scotia</li>
							<li class="province">Prince Edward Island</li>
							<li class="province">Newfoundland</li>
							<li class="province">Nunavut</li>
							<li class="province">Northwest Territories</li>
							<li class="province">Yukon</li>
						</ul>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="add-to-map-container">
		<div id="actions">
			<a href="#" id="add-to-map" class="btn btn-mini">U-Map</a>
			<a href="#" id="show-about" class="btn btn-mini">About This Tool</a>
		</div>
	</div>

</div>

<div id="map"></div>
