<div id="map-search">
	<form id="map-search-form" class="form-horizontal">
		<input id="map-search-terms" type="text" />
		<a id="map-search-clear"><i class="icon-remove"></i></a>
		<div class="btn-group">
			<button type="button" id="go-search" class="btn btn-primary" data-province="British Columbia">Search in British Columbia</button>
			<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">( Province )</button>
			<ul class="dropdown-menu">
				<li class="province">British Columbia</li>
				<li class="province">Alberta</li>
				<li class="province">Saskatchewan</li>
				<li class="province">Manitoba</li>
				<li class="province">Ontario</li>
			</ul>
		</div>
	</form>
</div>

<div id="map"></div>

<div id="add-to-map-container">
	<form id="add-to-map-form" class="form-horizontal hide">
		<legend>Add A Location</legend>
		<fieldset>
			<ul class="unstyled">
				<li id="step1">
					<label for="place">Enter A Location</label>
					<input id="location" type="text" id="place" placeholder="Enter a location, like '150 W Hastings, Vancouver'" />

					<button class="btn btn-primary next">Next</button>
				</li>

				<li id="step2" class="hide">
					<p>Is this the right location?</p>

					<button class="btn btn-warning prev">No, it isn't</button>
					<button class="btn btn-primary next">Yes!</button>
				</li>

				<li id="step3" class="hide">
					<p>Add some more information about the location:</p>

					<label for="category">What type of place is this?</label>
					<select id="category"></select>

					<label for="name">What's the name of this place?</label>
					<input type="text" id="name" />

					<label for="description">Give this place a short description.</label>
					<textarea id="description"></textarea>

					<label for="facebook">Does this place have a Facebook page? Paste the url here!</label>
					<input type="text" id="facebook" />

					<label for="twitter">Does this place have a Twitter profile? Paste the url here!</label>
					<input type="text" id="twitter" />

					<label for="phone">Does this place have a phone number?</label>
					<input type="text" id="phone" placeholder="Enter the phone number here" />

					<label for="url">Does this place have a website?</label>
					<input type="text" id="url" placeholder="Enter the URL here" />

					<br /><br />

					<button class="btn btn-primary next">Next!</button>
				</li>

				<li id="step4" class="hide">
					<h4>Thanks!</h4>

					<p>Your location has been added to our database. Once an administrator has approved the location,
						it'll be added to the map for everyone to see!</p>
				</li>
			</ul>
		</fieldset>
	</form>
	<div id="actions">
		<a href="#" id="add-to-map" class="btn btn-mini">U-Map</a>
		<a href="#" id="show-about" class="btn btn-mini">About This Tool</a>
	</div>
</div>
