<div id="extras"></div>
<div id="map-provinces"></div>
<div id="map-bioregions"></div>
<div id="map-category"></div>

<h3>
	Legend
	<a class="pull-right hide-show" data-legend-shown="1">Hide</a>
</h3>

<div id="map-legend-container"></div>
<div id="map-search"></div>
