<div id="map-provinces"></div>
<div id="map-bioregions"></div>
<div id="map-category"></div>


<h3>
	Legend
	<a class="pull-right">Hide</a>
</h3>

<div id="map-legend-container"></div>

<div id="map-search">
	<form id="search-form" class="form-horizontal">
		<input type="text" placeholder="Search" name="search" id="search" />
		<button type="button" id="start-search">Search</button>
	</form>
</div>
