<select id="bioregions">
	<option value="-1">Pick A BioRegion</option>
	<optgroup id="biogreiongs-British Columbia" label="British Columbia Biogregions">
		<option>Northeast</option>
		<option>Skeena-North Coast</option>
		<option>Vancouver Island-Coast</option>
		<option>Caribo-Prince George</option>
		<option>Thompson-Okanagan</option>
		<option>Lower Mainland-Sowuthwest</option>
		<option>Kootenay</option>
	</optgroup>
</select>
