<select id="provinces">
	<option class="null" selected="selected">Pick A Province</option>
	<optgroup label="Provinces">
		<option class="province" data-country="Canada" data-province="BC">British Columbia</option>
		<option class="province" data-country="Canada" data-province="AB">Alberta</option>
		<option class="province" data-country="Canada" data-province="SK">Saskatchewan</option>
		<option class="province" data-country="Canada" data-province="MB">Manitoba</option>
		<option class="province" data-country="Canada" data-province="ON">Ontario</option>
		<option class="province" data-country="Canada" data-province="QC">Quebec</option>
		<option class="province" data-country="Canada" data-province="NB">New Brunswick</option>
		<option class="province" data-country="Canada" data-province="NS">Nova Scotia</option>
		<option class="province" data-country="Canada" data-province="PEI">Prince Edward Island</option>
		<option class="province" data-country="Canada" data-province="NF">Newfoundland</option>
		<option class="province" data-country="Canada" data-province="NV">Nunavut</option>
		<option class="province" data-country="Canada" data-province="NT">Northwest Territories</option>
		<option class="province" data-country="Canada" data-province="YK">Yukon</option>
	</optgroup>
	<optgroup label="States">
		<option class="state" data-country="USA" data-province="OR">Oregon</option>
	</optgroup>
</select>
