<form id="search-form" method="POST" >
	<input type="text" placeholder="Search" name="search" id="search" />
	<a id="map-search-clear"><i class="icon-remove"></i></a>
	<span class="alert alert-warning hide">You need to enter some search terms!</span>
	<button type="button" id="start-search">Search</button>
</form>
